.client {
    &__title {
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            color: inherit;
            margin: 0px;
            margin-bottom: 50px;
            padding: 0px;
    }
    
    &__list {
        display: flex;
    }

    &__item {
        cursor: pointer;
        &:first-child {
                margin-right: 30px;
            }
        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--first-text-color);
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            border-color: var(--accent-text-color);
        }
    }

    &__icon {
            fill: var(--icons-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.client__item + .client__item {
    margin-right: 30px;
}

.client__link:hover .client__icon {
    fill: var(--accent-text-color);
}

.client__link:focus .client__icon {
    fill: var(--accent-text-color);
}