.contacts {
    display: flex;
    margin-left: auto;

    &__item {
        display: flex;
        align-items: baseline;
        }
    
    &__tel, &__mail {
        color: var(--second-header-color);
        display: flex;
        padding: 32px 0px;
        display: flex;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
                color: var(--accent-text-color);
            }
    }

    &__icon {
        fill: currentColor;
        &:last-child {
            margin-right: 10px;
            }
    }
    
}


.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__tel--color {
    color: var(--first-text-color);
    align-items: center;
}
