.logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-header-color);
    padding: 24px 0px;

    &__web {
        color: var(--accent-text-color);
    }
}
