@import "../utils/vars";

.team {
    background-color: $bcg-second-color;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px auto 50px auto;
}

.team__list {
    display: flex;
}

.team__item {
    background-color: $bcg-first-color;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.team__item:last-child {
    margin-right: 0px;
}

.team__wrap {
    padding: 30px 32px;
    text-align: center;
    display: block;
}

.team__item-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    min-width: 152px;
    margin-bottom: 10px;
}

.team__meta {
    color: $first-text-color;
    margin: 0px;
    min-width: 147px;
    margin-bottom: 16px;
}


.team__list-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.team__item-icon+.team__item-icon {
    margin-left: 10px;
}

.team__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $bcg-first-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
    background-color: $bcg-btn-color;
}

.team__icon {
    fill: $icons-color;
}

.team__link:hover .team__icon {
    fill: $bcg-first-color;
}

.team__link:focus .team__icon {
    fill: $bcg-first-color;
}