@import "./vars";

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: inline-block;
    align-items: center;
    text-align: center;
    border: transparent;
    cursor: pointer;

    color: inherit;
    padding: 0px;
    min-width: 200px;
    border-radius: 4px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.btn:hover,
.btn:focus {
    color: $btn-color;
    background-color: $bcg-btn-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn__order {
    color: $btn-color;
    background-color: $bcg-btn-color;
    padding: 10px 32px;
}